html {
  background-color: black;
}


.navbar {
  font-family: 'Space Mono', monospace;
  color: rgb(180, 87, 167);
}

.icon {
  color: rgb(180, 87, 167);
}

.navbar-start {
  padding-top: 8px;
}

.navbar-end {
  padding-top: 8px;
}

.navbar-brand {
  animation: none !important;
}

main {
  color: rgb(180, 87, 167);
  font-family: 'Space Mono', monospace;
  padding-top: 20px;
}

h1 {
  color: rgb(180, 87, 167);
  font-family: 'Space Mono', monospace;
}

a {
  color: rgb(200, 87, 167);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;

}

.bandname {
  color: white !important;
}

.menu {
  font-size: 1em;
  line-height: 52px;
}

figure {
  margin-top: 50px;
}

figure img, section img {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



#info-txt {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 10px;
}

#date p {
  font-size: 1.4em;
  text-align: center;
  color: darkgrey;

}

#social-fa {
  color: rgb(180, 87, 167);
  transition: color .5s ease-in-out;
}

#social-fa a {
  padding-left: 5px;
  padding-right: 5px;
}

#social-fa a:hover {
  color: rgb(140, 87, 167);
}

@media (max-width: 767px) {
  #kcmi {
    margin-top: -40px;
  }
}

@media (max-width: 560px) {
  #date {
    padding-top: 40px;
    font-size: .7em;
  }
  #info-txt {
    font-size: 1.2em;
  }
  h1 {
    font-size: 2em;
  }

}
