html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

main {
  font-family: 'Space Mono', monospace;
  color: rgb(180,87,167);
  text-align: right;
  margin-top: 20px;
}

p {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  padding-left: 15px;
  padding-right: 40px;
}

h1 {
  color: rgb(180,87,167);
  font-family: 'Space Mono', monospace;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover
{
     text-decoration:none;
     cursor:pointer;
}

.menu {
  font-size: 1em;
  line-height: 52px;
}



#info-txt{
  font-size: 1.6em;
}

#date {
  font-size: 1.4em;
  text-align: left;
}

#social-fa {
  color: rgb(180,87,167);
  transition: color .5s ease-in-out;
}

#social-fa a {
  padding-left: 5px;
  padding-right: 5px;
}

#social-fa a:hover {
  color: rgb(140,87,167);
}

@media (max-width: 400px;) {
    .footer {
        height: 160px;

    }

}
